<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Жаңа пациент қосу</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Жаңа пациент қосу</h1>
  <form action="/patients/add" method="post">
    <div class="form-group">
      <label for="firstname">Аты-жөні:</label>
      <input type="text" class="form-control" id="firstname" name="firstname" required>
    </div>
    <div class="form-group">
      <label for="lastname">Тегі:</label>
      <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div>
    <div class="form-group">
      <label for="birthDate">Туылған күні:</label>
      <input type="date" class="form-control" id="birthDate" name="birthDate" required>
    </div>
    <div class="form-group">
      <label for="gender">Жынысы:</label>
      <select class="form-control" id="gender" name="gender" required>
        <option value="MALE">Еркек</option>
        <option value="FEMALE">Әйел</option>
      </select>
    </div>

    <h1>Оқу жазбалары</h1>
    <div class="form-group">
      <label for="schoolName">Мектеп атауы:</label>
      <input type="text" class="form-control" id="schoolName" name="schoolName" required>
    </div>
    <div class="form-group">
      <label for="gradeLevel">Сынып деңгейі:</label>
      <input type="text" class="form-control" id="gradeLevel" name="gradeLevel" required>
    </div>
    <div class="form-group">
      <label for="specialEdService">Арнайы білім беру қызметі:</label>
      <select class="form-control" id="specialEdService" name="specialEdService" required>
        <option value="YES">Иа</option>
        <option value="NO">Жоқ</option>
      </select>
    </div>

    <h1>Консультация</h1>
    <div class="form-group">
      <label for="appointmentDate">Консультация күні:</label>
      <input type="date" class="form-control" id="appointmentDate" name="appointmentDate" required>
    </div>
    <div class="form-group">
      <label for="appointmentType">Консультация түрі:</label>
      <input type="text" class="form-control" id="appointmentType" name="appointmentType" required>
    </div>
    <div class="form-group">
      <label for="notes">Жазбалар:</label>
      <textarea class="form-control" id="notes" name="notes"></textarea>
    </div>

    <h1>Аутизм</h1>
    <div class="form-group">
      <label for="diagnosisDate">Диагноз күні:</label>
      <input type="date" class="form-control" id="diagnosisDate" name="diagnosisDate" required>
    </div>
    <div class="form-group">
      <label for="autismType">Аутизм түрі:</label>
      <select class="form-control" id="autismType" name="autismType" required>
        <option value="ASPERGERS">Балалық шақтың аутизмі</option>
        <option value="AUTISTIC_DISORDER">Атипикалық аутизм</option>
        <option value="Басқа балалық шақтың дезинтегративті бұзылысы">Ретт синдромы</option>
        <option value="ASPERGER'S_SYNDROME">Аспергер синдромы</option>
        <option value="OTHER">Басқа</option>
      </select>
    </div>
    <div class="form-group">
      <label for="SeverityLevel">Ауырлық деңгейі:</label>
      <select class="form-control" id="SeverityLevel" name="SeverityLevel" required>
        <option value="MILD">Жеңіл</option>
        <option value="MODERATE">Орташа</option>
        <option value="SEVERE">Ауыр</option>
      </select>
    </div>

    <h1>Мінез-құлық сессиясы</h1>
    <div class="form-group">
      <label for="duration">Ұзақтығы: </label>
      <input type="number" class="form-control" id="duration" name="duration" required>
    </div>
    <div class="form-group">
      <label for="focusArea">Назар аударатын аймақ:</label>
      <input type="text" class="form-control" id="focusArea" name="focusArea" required>
    </div>


    <h1>Тест</h1>
    <div class="form-group">
      <label for="testType">Тест түрі:</label>
      <input type="text" class="form-control" id="testType" name="testType" required>
    </div>
    <div class="form-group">
      <label for="testResult">Тест нәтижесі:</label>
      <input type="text" class="form-control" id="testResult" name="testResult" required>
    </div>
    <div class="form-group">
      <label for="testDate">Тест күні:</label>
      <input type="date" class="form-control" id="testDate" name="testDate" required>
    </div>

    <h1>Белгілері</h1>
    <div class="form-group">
      <label for="symptomDescription">Симптом сипаттамасы</label>
      <input type="text" class="form-control" id="symptomDescription" name="symptomDescription" required>
    </div>
    <div class="form-group">
      <label for="observationDate">Бақылау күні:</label>
      <input type="date" class="form-control" id="observationDate" name="observationDate" required>
    </div>

    <h1>Әлеуметтік дағдыларды бағалау</h1>
    <div class="form-group">
      <label for="assessmentDate">Бағалау күні:</label>
      <input type="date" class="form-control" id="assessmentDate" name="assessmentDate" required>
    </div>
    <div class="form-group">
      <label for="score">Ұпай:</label>
      <input type="int" class="form-control" id="score" name="score" required>
    </div>
    <div class="form-group">
      <label for="notes">Жазбалар:</label>
      <textarea class="form-control" id="notess" name="notes"></textarea>
    </div>

    <h1>Диагноз</h1>
    <div class="form-group">
      <label for="icdCode">Icd коды:</label>
      <input type="text" class="form-control" id="icdCode" name="icdCode" required>
    </div>
    <div class="form-group">
      <label for="diagnosisDate">Диагноз күні:</label>
      <input type="date" class="form-control" id="diagnosissDate" name="diagnosisDate" required>
    </div>

    <h1>Емдеу әдістері</h1>
    <div class="form-group">
      <label for="therapyType">Терапия түрі:</label>
      <input type="text" class="form-control" id="therapyType" name="therapyType" required>
    </div>
    <div class="form-group">
      <label for="therapyDescription">Терапия сипаттамасы:</label>
      <input type="text" class="form-control" id="therapyDescription" name="therapyDescription" required>
    </div>
    <div class="form-group">
      <label for="startDate">Басталу күні:</label>
      <input type="date" class="form-control" id="startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">Аяқталу күні:</label>
      <input type="date" class="form-control" id="endDate" name="endDate" required>
    </div>

    <h1>Емдеу</h1>
    <div class="form-group">
      <label for="treatmentDescription">Емдеу сипаттамасы:</label>
      <input type="text" class="form-control" id="treatmentDescription" name="treatmentDescription" required>
    </div>
    <div class="form-group">
      <label for="startDate">Басталу күні:</label>
      <input type="date" class="form-control" id="startDatee" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">Аяқталу күні:</label>
      <input type="date" class="form-control" id="endDatee" name="endDate" required>
    </div>

    <h1>Дәрі-дәрмек</h1>
    <div class="form-group">
      <label for="medicationName">Дәрінің атауы:</label>
      <input type="text" class="form-control" id="medicationName" name="medicationName" required>
    </div>
    <div class="form-group">
      <label for="dosage">Доза:</label>
      <input type="text" class="form-control" id="dosage" name="dosage" required>
    </div>
    <div class="form-group">
      <label for="administrationPeriod">Администрация кезеңі:</label>
      <input type="text" class="form-control" id="administrationPeriod" name="administrationPeriod" required>
    </div>




    <button type="submit" class="btn btn-primary">Тіркеу</button>
  </form>
</div>
</body>
</html>
