<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Мінез-құлық сессиясының мәліметтері</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Мінез-құлық сессиясының мәліметтері</h1>
  <div>
    <h2>Сессия туралы мәліметтер</h2>
    <p><strong>Ұзақтығы:</strong> <span th:text="${behavioralSession.duration}">Ұзақтығы</span></p>
    <p><strong>Назар аударатын аймақ:</strong> <span th:text="${behavioralSession.focusArea}">Назар аударатын аймақ</span></p>
  </div>
</div>
</body>
</html>
