<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Diagnosis Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Diagnosis Details</h1>
  <div>
    <h2>Patient Information</h2>
    <p><strong>Name:</strong> <span th:text="${patient.firstname}">First Name</span> <span th:text="${patient.lastname}">Last Name</span></p>
  </div>
  <div>
    <h2>Diagnosis Information</h2>
    <p><strong>ICD Code:</strong> <span th:text="${diagnosis.icdCode}">ICD Code</span></p>
    <p><strong>Diagnosis Date:</strong> <span th:text="${diagnosis.diagnosisDate}">Diagnosis Date</span></p>
  </div>
  <div>
    <a th:href="@{'/api/therapies/' + ${diagnosis.id}}" class="btn btn-info">Therapie</a>
    <a th:href="@{'/api/treatments/' + ${diagnosis.id}}" class="btn btn-info">Treatment</a>
  </div>
</div>
</body>
</html>
