<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Диагноз мәліметтері</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Диагноз мәліметтері</h1>
  <div>
    <h2>Пациент туралы ақпарат</h2>
    <p><strong>Аты:</strong> <span th:text="${patient.firstname}">Есімі</span> <span th:text="${patient.lastname}">Last Name</span></p>
  </div>
  <div>
    <h2>Diagnosis Information</h2>
    <p><strong>ICD коды:</strong> <span th:text="${diagnosis.icdCode}">ICD коды</span></p>
    <p><strong>Диагноз күні:</strong> <span th:text="${diagnosis.diagnosisDate}">Диагноз күні</span></p>
  </div>
  <div>
    <a th:href="@{'/api/therapies/' + ${diagnosis.id}}" class="btn btn-info">Емдеу әдістері</a>
    <a th:href="@{'/api/treatments/' + ${diagnosis.id}}" class="btn btn-info">Емдеу</a>
  </div>
</div>
</body>
</html>
