<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Науқастар</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        .search-container {
            margin-bottom: 20px;
        }

        .custom-btn {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Науқастар</h1>
    <div class="search-container">
        <form th:action="@{/patients}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Аты бойынша іздеу" name="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Іздеу</button>
                </div>
            </div>
        </form>
    </div>
    <a href="/patients/add" class="btn btn-primary">Науқасты қосу</a>
    <a href="/register" class="btn btn-primary">Дәрігерді қосу қосу</a>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Есімі</th>
            <th>Тегі</th>
            <th>Туылған күні</th>
            <th>Жынысы</th>
            <th>Мәліметтерді қарау</th>
            <th>Аутизм туралы мәліметтер</th>
            <th>Консультация</th>
            <th>Тесттер</th>
            <th>Белгілері</th>
            <th>Әлеуметтік дағдыларды бағалау</th>
            <th>Мінез-құлық сессиясы</th>
            <th>Диагноз</th>
            <th>Жою</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.firstname}"></td>
            <td th:text="${patient.lastname}"></td>
            <td th:text="${patient.birthDate}"></td>
            <td th:text="${patient.gender}"></td>
            <td>
                <a th:href="@{/patients/view/{patientId}/education(patientId=${patient.id})}">Оқу жазбалары</a>

            </td>
            <td>
                <a th:href="@{'/patients/autism-details/' + ${patient.id}}" class="btn btn-warning custom-btn">Аутизм туралы мәліметтер</a>
            </td>
            <td>
                <a th:href="@{'/api/appointment/' + ${patient.id}}" class="btn custom-btn">Консультация</a>
            </td>
            <td>
                <a th:href="@{'/patients/' + ${patient.id} + '/tests'}" class="btn btn-secondary custom-btn">Тесттер</a>
            </td>
            <td>
                <a th:href="@{'/patients/' + ${patient.id} + '/symptoms'}" class="btn btn-danger custom-btn">Белгілері</a>
            </td>
            <td>
                <a th:href="@{'/patients/' + ${patient.id} + '/socialSkillsAssessment'}" class="btn btn-success custom-btn">Әлеуметтік дағдыларды бағалау</a>
            </td>
            <td>
                <a th:href="@{'/api/behavioral-sessions/' + ${patient.id}}" class="btn btn-info custom-btn">Мінез-құлық сессиясы</a>
            </td>
            <td>
                <a th:href="@{'/api/diagnoses/' + ${patient.id}}" class="btn btn-info custom-btn">Диагноз</a>
            </td>
            <td>
                <form th:action="@{'/patients/delete/' + ${patient.id}}" method="post">
                    <button type="submit" class="btn btn-danger custom-btn">Жою</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
