<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Дәрі-дәрмектер</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Дәрі-дәрмектер</h1>
  <div>
    <h2>Дәрі-дәрмек туралы ақпарат</h2>
    <p><strong>Дәрі аты:</strong> <span th:text="${medication.medicationName}">Дәрі аты</span></p>
    <p><strong>Доза:</strong> <span th:text="${medication.dosage}">Dosage</span></p>
    <p><strong>Администрация кезеңі:</strong> <span th:text="${medication.administrationPeriod}">Администрация кезеңі</span></p>
  </div>
</div>
</body>
</html>
