<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Әлеуметтік дағдыларды бағалау</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Әлеуметтік дағдыларды бағалау</h1>
    <div>
        <h2>Patient Information</h2>
        <p><strong>Науқас ID:</strong> <span th:text="${patient.id}">Науқас ID</span></p>
        <p><strong>Аты:</strong> <span th:text="${patient.firstname}">Аты-жөні</span> <span th:text="${patient.lastname}">Тегі</span></p>
        <p><strong>Туылған күні:</strong> <span th:text="${patient.birthDate}">Туылған күні</span></p>
    </div>
    <div>
        <h2>Әлеуметтік дағдыларды бағалау</h2>
        <p><strong>Бағалау күні:</strong> <span th:text="${socialSkillsAssessment.assessmentDate}">Бағалау күні</span></p>
        <p><strong>Ұпай:</strong> <span th:text="${socialSkillsAssessment.score}">Ұпай</span></p>
        <p><strong>Жазбалар:</strong> <span th:text="${socialSkillsAssessment.notes}">Жазбалар</span></p>
    </div>
</div>
</body>
</html>
