<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Therapie Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Therapie Details</h1>
  <div>
    <h2>Therapie Information</h2>
    <p><strong>Therapy Type:</strong> <span th:text="${therapie.therapyType}">Therapy Type</span></p>
    <p><strong>Therapy Description:</strong> <span th:text="${therapie.therapyDescription}">Therapy Description</span></p>
    <p><strong>Start Date:</strong> <span th:text="${therapie.startDate}">Start Date</span></p>
    <p><strong>End Date:</strong> <span th:text="${therapie.endDate}">End Date</span></p>
  </div>
</div>
</body>
</html>
