<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Емдеу әдістері</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Емдеу әдістері</h1>
  <div>
    <h2>Терапия туралы ақпарат</h2>
    <p><strong>Терапия түрі:</strong> <span th:text="${therapie.therapyType}">Терапия түрі</span></p>
    <p><strong>Терапия сипаттамасы:</strong> <span th:text="${therapie.therapyDescription}">Терапия сипаттамасы</span></p>
    <p><strong>Басталу күні:</strong> <span th:text="${therapie.startDate}">Басталу күні</span></p>
    <p><strong>Аяқталу күні:</strong> <span th:text="${therapie.endDate}">Аяқталу күні</span></p>
  </div>
</div>
</body>
</html>
