<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Емдеу мәліметтері</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Емдеу мәліметтері</h1>
    <div>
        <h2>Диагностика туралы ақпарат</h2>
        <p><strong>ICD коды:</strong> <span th:text="${treatment.diagnosisId}">ICD коды</span></p>
        <p><strong>Емдеу сипаттамасы:</strong> <span th:text="${treatment.treatmentDescription}">Емдеу сипаттамасы</span></p>
        <p><strong>Басталу күні:</strong> <span th:text="${treatment.startDate}">Басталу күні</span></p>
        <p><strong>Аяқталу күні:</strong> <span th:text="${treatment.endDate}">Аяқталу күні</span></p>
    </div>
    <div>
        <a th:href="@{'/api/medications/' + ${treatment.treatmentId}}" class="btn btn-info">Дәрі-дәрмек</a>
    </div>
</div>
</body>
</html>
